[Desktop Entry]
Version=1.0
Type=Application
Name=Atam Okul Zili
Comment=Okullar için zil programı
Exec=python3 /usr/share/Atam_Okul_Zili/atam_okul_zili.py
Icon=atam.png
Terminal=false
Categories=Education;Utility;

